@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.loading-animation img {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
}