@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'yaro';
  src: url('../public/fonts/Yaro.ttf');
}

:root {
  --jgreen: #388175;
  --jyellow: #F6BD41;
}