/* FunSearchButton.module.css */
.clicked {
  animation: eatStars 1s ease-out;
}

.alligatorGif {
  width: 100%;
  height: auto;
}

@keyframes eatStars {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-50px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

